
.swiper.onboarding {
    height: 100%;
    width: 100%;
    position: inherit;
    --swiper-pagination-color: var(--ion-color-primary);
    --swiper-pagination-progressbar-bg-color: var(--ion-color-gray);
    --swiper-pagination-progressbar-size: 8px;
}

.swiper.onboarding .swiper-wrapper {
    max-height: 100%
}


.swiper.onboarding.swiper-horizontal {
    max-height: 90%
}

.swiper.onboarding ion-card {
    max-height: 100%
}

ion-content.ignore-keyboard {
    --keyboard-offset: 0px !important;
}