ion-content.settings ion-note {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background: #22215e;
  color: white;
  font-size: calc(14pt * var(--text-scale, 1));
  padding: 10pt;
}

ion-content.settings ion-label {
  font-size: calc(17px * var(--text-scale, 1)) !important;
}

.settings__label-heading {
  font-size: calc(17px * var(--text-scale, 1));
  font-weight: normal;
  display: block;
}
