ion-content.edit-modal ion-label {
    font-size: 17px !important
}

ion-content.specific-settings ion-note {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background: #22215e;
    color: white;
    font-size: 14pt;
    padding: 10pt;
  }

  ion-item.with-select .hide-selected-text::part(text) {
    color: transparent;
  }

ion-item.with-select  ion-select::part(text) {
    white-space: pre-line;
    overflow: visible
}

ion-item.with-select ion-select::part(placeholder) {
    white-space: pre-line;
    overflow: visible;
}