ion-toolbar.modal-title {
    padding-top: 50px! important;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

ion-item.forgot-email-reset .PhoneInputInput {
    border: none;
    background: none;
}