ion-toolbar.modal-title {
    padding-top: 50px! important;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

form.register-modal-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

ion-item.terms {
    --padding-top: 20px;
    --padding-bottom: 10px;
    --border-style: 0;
}
